:root {
  --primary-clr: #f68121;
  --primary-clr-dark: #df6a0a;
  --primary-clr-ff: #ff994f;
  --secondary-clr: #1d9bf0;
  --gray-clr: #a9b1c7;
  --light: #f0f1f5;
  --light-2: #fcf7e7;
  --dark: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.6;
  font-weight: 400;
  color: #222;
}

a {
  text-decoration: none;
  color: var(--dark);
}

img {
  vertical-align: middle;
  width: 100%;
}

ul {
  list-style: none;
}

/* header  */
#showcase-header {
  background: linear-gradient(#947745b9, #947745b7),
    url(https://images.unsplash.com/photo-1661961110671-77b71b929d52?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)
      no-repeat center / cover;
}

/* navbar  */
.navbar {
  padding: 2rem 1rem;
}

.nav-logo {
  flex-direction: column;
  margin-bottom: 0;
  gap: 0 !important;
}

.nav-logo a {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.7rem;
  margin-bottom: 0;
}

/* nav-list  */
.nav-list li {
  font-size: 1.8rem;
  margin: 1rem;
}

.nav-list li a {
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* showcase  */
.showcase {
  padding-top: 3.5rem;
}

.showcase-content p {
  margin: 1rem 0;
}

/* section icon */
.icon-section {
  border-bottom: 1px solid #ff994f;
}

/* hero section  */
.hero {
  padding-top: 7rem;
}

.hero-icon {
  margin-top: 2rem;
}
.hero-icon img {
  max-width: 15rem;
  object-fit: cover;
}

.hero-icon p {
  width: 80%;
}
.hero-content .heading-lg {
  font-size: 3.7rem;
  color: #444;
}

/* card section  */
.card-content {
  margin-top: 7rem;
}

.card {
  border: 0.7px solid #ddd;
}

.card header {
  padding: 1.3rem 0 2rem 0;
}

.card .content ul li {
  margin: 1rem 0;
  font-weight: 500;
  color: #444;
}

.card footer {
  padding: 1.5rem 0;
}

.card-btn {
  font-weight: 600;
  padding: 0.8rem 2.5rem;
  display: inline-block;
  background: #999999;
  color: #fff;
  cursor: pointer;
}

.card-active,
.card:hover header,
.card:hover footer {
  background: var(--primary-clr);
  color: #fff !important;
}
.card-active,
.card-btn:hover,
.card:hover .content {
  background: var(--primary-clr-ff);
}

.card:hover {
  color: #fff;
  background: var(--primary-clr);
}


/* content-section */

.content-section .heading-md {
    width: 70%;
    margin: auto;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}


/* app section  */
.app-section {
    background:linear-gradient(rgba(59, 57, 57, 0.245), rgba(24, 24, 25, 0.165)), url(https://images.unsplash.com/photo-1674694773940-9c892c8616e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80) no-repeat center / cover;
    background-attachment: fixed;
    
}


/* footer  */
.footer p{
    font-weight: 500;
}
